<%- include('includes/head.ejs')  %> 
    <link rel="stylesheet" href="/css/admin.css">
<%- include('includes/navigation.ejs')  %> 
    <main>

        <form action="/admin/add-user" method="post">
            <input type="text" name="userName" id="userName">
            <button type="submit">Cadastrar</button>

        </form>
    </main>
<%- include('includes/footer.ejs') %>