<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shop</title>
    <link rel="stylesheet" href="/css/main.css">
</head>

<body>
    <header>
        <h1>Shop Express JS</h1>
        <nav>
            <ul><a href="/">Shop</a></ul>
            <ul><a href="/admin/add-product">Adicionar Produto</a></ul>
        </nav>
    </header>
    <main>
        <h2>Meus produtos</h2>
        <p>Lista de produtos</p>
    </main>

</body>

</html>